main {
    background-image: url(./images/fantastic-wonderland-forest-landscape-with-mushrooms-flowers-ai-generative_157027-1737.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

div {
    display: inline-block;
}
.spacer {
     width: 70px; 
    height: 50%;
}

.container {
     margin-left: calc((100% - 300px) / 2);
    width: 300px;
    height: 400px;
    background-color: rgba(252, 253, 253, 0.4);
    border-radius: 20px;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}

input[type="text"], [type="password"] {
    width: 229px;
    display: block;
    margin: 15px;
    margin-left: 25px;
    height: 25px;
    border: 0;
    padding: 0;
    border-radius: 12px;
    padding-left: 20px;
    box-shadow: 1px 1px 3px rgb(30, 30, 85);
}
 .inputsContainer > input {
    display: inline-block;
    width: 97px;
    margin: 0 0 0px 25px;
    float: left;
 }

 .inputsContainer > input:nth-child(2) {
    margin-left: 15px;
 }

 #cb {
    display: inline-block;
    margin-left: 75px;
    box-shadow: 1px 1px 3px rgb(30, 30, 85);
    box-shadow: none;
    width: 16px;
    height: 16px;
    padding-top: 10px;
 }

 #cbContainer {
    padding-top: 1px;
 }

 #textsContainer {
    vertical-align: top;
 }

 a {
    color: aqua;
    text-decoration: none;
 }

 button {
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: aqua;
    font-weight: 900;
    box-shadow: 0px 2px 0px 2px rgb(23, 156, 156), 1px 3px 2px 2px rgb(30, 30, 85);
 }

 label {
    color: white;
 }